$bgColor:#C10D0C;
.recommemdBodyHeader {
    background: #f5f5f5;
    min-height: 700px;
    padding-bottom: 20px;
    .recommemdBody {
        width: 1024px;
        margin: 0 auto;
        background: #fff;
        height: 100%;
        display: flex;
        // 左侧
        .recommemdBodyLeft {
            padding: 20px 0 20px 7px;
            width: 770px;
            min-height: 700px;
            border-left: 1px solid #d3d3d3;
            border-right: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
            // padding: 20px;
            .musicHeader {
                width: 96%;
                margin: 0 auto;
                height: 35px;
                border-bottom: 2px solid $bgColor;
                display: flex;
                align-items: center;
                position: relative;
                
            }
            .musicBody {
                display: flex;
                flex-wrap: wrap;
                margin: 20px 0 0 -30px;
                ul{
                    display: flex;
                    flex-wrap: wrap;    
                }
            }
            .newCd {
                .newCdBody{
                    border: 1px solid #d3d3d3;
                    margin: 20px auto 37px;
                    background: #f5f5f5;
                    height: 188px;
                    width: 96%;
                    position: relative;
                    cursor: pointer;
                    span {
                        display: inline-block;
                        position: absolute;
                        transition: 1s;
                        &:hover {
                            transform: scale(1.5)
                        }
                        &:nth-child(1) {
                            left: 13px;
                            top: calc(49% - 4px);
                            transform: rotate(180deg);
                            &:hover {
                                transform: rotate(180deg) scale(1.5);
                            }
                        }
                        &:last-child {
                            right: 13px;
                            top: calc(49% - 4px);
                        }
                        .icon-youjiantou:before{
                            color:#898989
                        }
                    }
                    .viewBox{
                        width: 645px;
                        margin: 33px auto;
                        overflow: hidden;
                        .leaderBorderDataBox{
                            position: relative;
                            width: 2580px;
                            overflow: hidden;
                            ul {
                                float: left;
                                width: 645px;
                                display: flex;
                                flex-wrap: wrap;
                                // margin: 33px auto;
                                li{
                                    margin-left: 11px;
                                    
                                }
                            }
                        }
                    }
                }
            }

            // 榜单
            .leaderBoardList{
                .leaderBoardBody {
                    background: url(../../../../../static/img/index_bill.png) no-repeat;
                    display: flex;
                    background-size: 100%;
                    width: 96%;
                    margin: 0 auto;
                    .rankListBox {
                        width: 230px;
                        height: 472px;
                        // display: flex;
                        padding-top: 25px;
                        margin-left: 20px;
                        &:nth-child(2) {
                            margin-left: 12px;
                        }
                        &:nth-child(3) {
                            margin-left: 11px;
                        }
                        .rankListHeader {
                            height: 108px;
                            width: 100%;
                            display: flex;
                            .rankListImgBox {
                                width: 86px;
                                height: 86px;
                                display: inline-block;
                                .rankImg {
                                    width: 86px;
                                }
                            }
                            .rankListTextBox {
                            
                                display: inline-block;
                                height: 86px;
                                margin: 6px 0 0 10px;
                                .rankName {
                                    font-size: 14px;
                                    font-weight: 600;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    word-wrap: normal;
                                }
                                .rankPlay {
                                    margin-top: 10px;
                                    a {
                                        display: inline-block;
                                        width: 22px;
                                        height: 22px;
                                        margin-right: 10px;
                                        background: url(../../../../../static/img/index.png) no-repeat;
                                        &:nth-child(1) {
                                            background-position: -267px -205px;
                                        }
                                        &:nth-child(2) {
                                            background-position: -300px -235px;
                                        }
                                    }
                                }
                            }
                        }
                        .rankLists {
                            li{
                                &:nth-child(1) {
                                        margin-top: -5px;
                                }
                                &:nth-child(2) {
                                    margin-top: -3px;
                                }
                                &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(7),&:nth-child(8) {
                                        margin-top: -3px;
                                }
                                &:nth-child(6) {
                                        margin-top: 1px;
                                }
                                &:nth-child(9) {
                                        margin-top: -2px;
                                }
                            }
                        }
                    }
                }
            }
        }
        // 右侧
        .recommemBodyRight {
            // padding: 20px 0 20px 0;
            width: 255px;;
            min-height: 700px;
            border-right: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
            .recommemRightHeader {
                width: 100%;
                height: 126px;
                background:url(../../../../../static/img/index.png) no-repeat;
                p{
                    width: 205px;
                    font-size: 12px;
                    color: #666;
                    margin: 0 auto;
                    text-align: left;
                    // margin: 0 22.5px;
                    padding: 16px 0;  
                    line-height: 22px;
                    // display: inline-block;
                }
                .goLogin {
                    width: 100px;
                    height: 31px;
                    background:url(../../../../../static/img/index.png) no-repeat;
                    background-position: 0 -195px;
                    text-shadow: 0 1px 0 #8a060b;
                    margin: 0 auto;
                    color: #fff;
                    text-align: center;
                    line-height: 31px;
                    // border-radius: 10px;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
            .entering {
                width: 210px;
                margin:0 auto;
                .enteringHeader{
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #666;
                    /* line-height: 24px; */
                    height: 22px;
                    border-bottom: 1px solid #66666647;
                    padding-top: 15px;
                    span{
                        &:nth-child(1) {
                            color: #333;
                            font-weight: 700;
                        }
                        &:nth-child(2) {
                            a{
                                color: #666;
                                text-decoration: none;
                            }
                            &:hover{
                                text-decoration: baseline;
                            }
                        }
                    }
                }

                .artistListEleBox{
                    background: #fafafa;
                   
                    
                    li{
                        margin-top: 14px;
                        display: block;
                        .artistListBox{
                            display: flex;
                            border: 1px solid #e9e9e9;
                            img{
                                width: 62px;

                            }
                            .aliasBox{
                                padding-left: 14px;
                                font-size: 14px;
                                font-weight: 450;
                                margin-top: 8px;
                                
                            }
                        }
                    }
                }
            }

            // 热门主播
            .hotPeople {
                margin-top: 30px;
            }
        }
    }
}
